<!-- footer -->

    <section class="footer" id="footer">
      <div class="box-container">

        <div class="box">
          <h3>Nos services</h3>
          <ul class="service-list">
            <li><a href="#">A propos</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Habitats</a></li>
            <li><a href="#">Animaux</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

         <div class="box">
          <h3>Rester en contact</h3>
          <p>0123456789</p>
          <p>1 impasse du zoo, 67205 Oberhausbergen</p>
        </div>

        <div class="box">
          <h3>Nos horaires</h3>
          <ul class="schedule-list">
            <li>lundi 7h-19h</li>
            <li>mardi 7h-19h</li>
            <li>mercredi 7h-19h</li>
            <li>jeudi 7h-19h</li>
            <li>vendredi 7h-19h</li>
            <li>samedi 7h-19h</li>
            <li>dimanche 7h-19h</li>
          </ul>
        </div>

        <div class="box">
          <h3>Nos réseaux</h3>
          <ul class="media-list">
            <li><a href="" ><i class="fa-brands fa-facebook"></i>Facebook/monsite</a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i>Instagram/monsite</a></li>
            <li><a href="" ><i class="fa-brands fa-x-twitter"></i>Twitter X/monsite</a></li>
            <li><a href="" ><i class="fa-brands fa-youtube"></i>Youtube/monsite</a></li>
            <li><a href="" ><i class="fa-brands fa-linkedin"></i>Linkedin/monsite</a></li>
          </ul>
        </div>

      </div>
    </section>

    <!-- end -->