<!-- header -->

    <header class="header">
      <a href="{{ path('accueil') }}" class="logo"> <i class="fas fa-paw"></i> zoo</a>

      <div class="menu">
        <div class="icon">
          <i class="fas fa-times close-btn"></i>
        </div>
        <a href="{{ path('accueil') }}">Acceuil</a>
        <a href="#services">Services</a>
        <a href="#habitat">Habitat</a>
        <a href="#contact" >Contact</a>
        <a href="#">Avis</a>
        <a href="#">Espace Pro</a>
      </div>

      <div class="icon">
        <i class="fas fa-bars menu-btn"></i>
      </div>
    </header>

    <!-- end -->
