@import "./custom.scss";
@import "./variables.scss";

/* habitat */

.habitat {
  background: $creme;
}

.habitat .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.habitat .box-container .box {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.habitat .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.habitat .box-container .box:hover img {
  transform: scale(1.1);
}

.habitat .box-container .box .content {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.habitat .box-container .box:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $noir;
  opacity: 0.5;
  transition: 0.5s ease;
}

.habitat .box-container .box .content h3 {
  text-align: center;
  font-size: 3rem;
  color: $blanc;
}

.habitat .box-container .box:is(:hover, :focus-within) .content {
  transform: translateY(-20px);
}

/* fin */
