$vert: #5c6102;

$vert-clair: #d1d700;

$blanc: #ffffff;

$gris: #4e4d4d;

$bleu: #003d48;

$bleu-clair: #7ecacf;

$jaune: #f8aa00;

$orange: #873000;

$noir: #000000;

$creme: #d5cfac;

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

$titre: "Prompt", sans-serif;

$texte: "Mulish", sans-serif;
